.about-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-sub-container {
  width: 45%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.picture {
  width: 100%;
  border: solid 1px #00dbc9;
}
.text {
  margin-top: 30px;
}
.icons-container {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  font-size: 2.5rem;
}

/* //////////////////////RESPONSIVE//////////////////////// */

@media screen and (max-width: 992px) {
  .about-container {
    width: 90%;
    flex-direction: column;
    margin: 60px 0px;
  }
  .about-sub-container {
    width: 100%;
  }
  .picture {
    margin-bottom: 30px;
  }
  .icons-container {
    width: 60%;
  }
}