.hero-main-container {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/Images/dark.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.header {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.logo-container {
  width: 120px;
}
.logo {
  width: 100%;
}
.nav-bar {
  width: 20%;
  display: flex;
  justify-content: space-between; 
}
.button {
  color: white;
}
.button:hover {
  transition: 0.3s;
  color: #00dbc9;
  cursor: pointer;
}
.hero {
  width: 80%;
  margin: auto;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-logo-container {
  width: 40%;
  padding-top: 15px;
  border-bottom: 1px solid white;
}
.main-logo {
  width: 100%;
}
.scroll-icon-container {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animated-icon {
  width: 20px;
  height: 30px;
  border: solid 2px white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}
.scroll {
  width: 2px;
  height: 2px;
  background-color: white;
  border: solid 2px white;
  border-radius: 2px; 
}

/* //////////////////////RESPONSIVE//////////////////////// */

@media screen and (max-width: 992px) {
  .nav-bar {
    width: 40%; 
  }
  .hero {
    text-align: center;
  }
  .main-logo-container {
    width: 60%;
  }
  .scroll-icon-container {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: 8%;
  } 
  .hero {
    height: 82%;
  }
  .nav-bar {
    width: 60%; 
    font-size: 1rem;
  }
  .logo-container {
    width: 100px;
  }
  .main-logo-container {
    width: 80%;
  }
}